.hand {
    width: 50%;
    right: 50%;
    height: 6px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    border-radius: 6px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hour-hand {
    width: 30%;
    z-index: 3;
}
    
.min-hand {
    height: 3px;
    z-index: 10;
    width: 40%;
}
    
.second-hand {
    background: #ee8b1a;
    width: 45%;
    height: 2px;
}